* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.items_center {
    align-items: center;
}

.center {
    justify-content: center;
}

.gap {
    gap: 20px;
}

.header {
    position: fixed;
    font-family: SupercellText-Medium, Helvetica, Arial, sans-serif;
    padding-left: 2.5em;
    list-style: none;
    top: 0;
    left: 50%;
    padding: 15px;
    background: #000;
    transform: translateX(-50%);
    z-index: 50;
}

.main_bg_container {
    min-height: 80vh;
    background: url(../img/supersell_img.jpg) no-repeat center/cover;
}

.logo img {
    max-width: 54px;
}

.navigation a {
    color: #fff;
    font-size: 15px;
}

.social img {
    max-width: 28px;
}

.lead_container,
.latest_container {
    position: relative;
    padding: 100px 0;
    justify-content: flex-end;
}

.lead_container:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50%;
    height: 100%;
    background: url(../img/bg_intro.webp) no-repeat center/contain;
    transform: translate(-25%, -50%);
    z-index: 0;
}

.lead_container div {
    max-width: 50%;
    padding-left: 20px;
}

.lead_container p {
    padding: 30px 0;

}

.news_container h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: -.025em;
}

.news_container div,
.news_container {
    padding-bottom: 50px;
}

.news_container h3 {
    margin-top: 18px;
    margin-bottom: .5em;
    max-width: 200px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: .6em 1em;
    background-color: #fb4a9d;
    color: #191919;
    border-radius: 100px;
    line-height: 1;
    margin-inline: auto;
}

.news_container a {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-align: center;
}

a.button {
    display: block;
    max-width: 240px;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: #0f62d6;
    padding: 1.2em 2em;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

.latest_container {
    overflow: hidden;
    min-height: 80vh;
    background: url(../img/backround.jpg) no-repeat center/cover;
}

.latest_container div>div {
    color: white;
    padding-bottom: 100px;
    width: 50%;
}

.latest_container h2 {
    text-align: left;
    font-size: 34px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.latest_container p {
    font-size: 14px;
    line-height: 1.56;
    margin: 0 0 30px;
}

.latest_container h3 {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 700;
}

.latest_container ul {
    font-size: 20px;
    flex-wrap: wrap;
}

.latest_container img {
    width: 50%;

}

.latest_container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../img/bg_gamewebsite.webp) no-repeat center/contain;
    transform: translate(25%, -50%);
    z-index: 0;
}

.footer {
    background-color: #000;
    padding-bottom: 120px;
}

.footer h3 {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 35px;
    padding-left: 100px;
}

.footer ul {
    color: white;
    font-size: 13px;

}

.footer img {
    font-size: 14px;
    width: 50%;
}

.ul_one {
    display: flex;
    padding-left: 100px;
    gap: 5%;
    font-size: 13px;
}

.ul_one a {
    text-decoration: none;
}

.ul_two {
    padding-bottom: 70px;
    display: flex;
    justify-content: flex-end;
}

.ul_two a {
    max-width: 130px;
}

.ul_two img {
    width: 100%;
}


.footer_address {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #969696;
    font-style: normal;
    padding-top: 25px;
    padding-left: 100px;
    gap: 5px;
    font-size: 13px;
}

.footer a {
    padding-top: 20px;
    color: #fff;
    margin-inline-end: 24px;
    font-size: 13px;
    font-weight: 500;

}

.ul_three {
    padding-left: 100px;
}