.header-ul {
    list-style: none;
}

.footer-logo {

    background: blue;
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
}

.footer-logo a {
    color: white;
}

.text-block {
    color: white;
}

.text-style {
    background: url(../img/hero_bg.webp) no-repeat center/cover;
}

.Wrapper {

    left: -30%;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    min-height: 20vh;
    justify-content: space-between;
}

.main-img {
    position: relative;
    top: 0;
    left: -60%;
    display: flex;
    width: 50%;
    height: auto;
}
.main-photo {
    width: 800px;
}

.image-content {
    display: flex;
    gap: 20px;
    width: 50%;
    height: 300px;
}

.text-decor {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.text-decor {
    display: block;
    margin-top: 40px;
}

.text-h {
    display: flex;
    flex-direction: column;
}

.text-p {
    display: flex;
}

.phone-img {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-70%);
}

.phone-img {
    width: 50%;
    max-height: 60vh;
}

.footer-two {
    justify-content: flex-start;
    background: url(../img/bp_fon_klesh.webp) no-repeat center/cover;
    background-size: 100%;
    background-position: center;
    height: 400px;

}

.footer-text {
    color: white;

}

.footer-photo {
    position: absolute;
    width: 800px;
    height: auto;
    top: 50px;
    right: -200px;
    right: 0;
    transform: translateX(50%);
}
footer-photo {
}